<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{ name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <img src="{{ imageUrl }}" class="img-fluid img-thumbnail" alt="" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown mr-1">
            <button
                type="button"
                class="btn btn-secondary dropdown-toggle"
                id="dropdownMenuOffset"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                data-offset="10,20"
            >
                Offset
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ description }}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{ ingredients }}
    </div>
</div>
